[Desktop Entry]
Type=Application
Name=TODOforAI Edge
Comment=Desktop Edge client for TODOforAI service enabling you to extend your AI agent's capabilities
Exec=todoforai-edge %u
Icon=todoforai_edge
Terminal=false
Categories=Utility;
MimeType=x-scheme-handler/todoforai;x-scheme-handler/todoforaiedge;